{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}

    <h6>Добавил: <img src="/media/{{ post.author.avatar }}" class="rounded-circle" width="20" height="20"/>{{ post.author.name }}</h6>
    <hr/>

    <h3>{{ post.title }}</h3>
    <small class="card-subtitle">{% for category in post.category.all %}{{ category }} {% endfor %}</small>
    <h5>{{ post.text|safe }}</h5>
    <hr/>

    <h6>Дата: {{ post.data }}</h6>
    <h5>Рейтинг: {{ post.rating }}</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {% for radio in rating.rating %}
                    {{ radio }}
            {% endfor %}
            <input type="hidden" id="posttype" name="posttype" value="postrating" />
            <input type="image" src="{% static '/images/bullet.png' %}" />
        </form>
    <hr/><hr/><hr/>

    <div>
    <h3>Комментарии:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <p>
        <h1>
            {{ comment.media }}
            {{ comment.text }}
            <input type="hidden" id="posttype" name="posttype" value="comment" />
        </h1>
        </p>
        <p><input type="submit" value="Оставить комментарий"></p>
    </form>
    </div>

    <hr/>
    <div>
    {% for q in now %}
        <table>
            <tr>
                <td><img src="/media/{{ q.author.avatar }}" class="rounded-circle" width="26" height="26"/>{{ q.author.name }}<h5>{{ q.data }}</h5></td>
            </tr>
            <tr>
                <td>{{ q.text|safe }}</td>
            <tr>
                <td>
                    {{ q.like }}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="commentid" name="commentid" value="{{ q.id }}" />
                        <input type="hidden" id="posttype" name="posttype" value="commentlike" />
                        <input type="submit" value="Like">
                    </form>
                </td>
            </tr>
        </table>
    {% endfor %}
    </div>
{% endblock %}