{% block title %}
{% endblock title %}

{% block content %}

    Добавил: <img src="/media/{{ post.author.avatar }}" class="rounded-circle" width="26" height="26"/>{{ post.author }}
    Дата: {{ post.data }}
    <hr/>
    {{ post.title }}
    <small class="card-subtitle">{% for category in post.category.all %}{{ category }} {% endfor %}</small>
    {{ post.text|safe }}

    Рейтинг: {{ post.rating }}
        <form action="" method="POST">
            {% csrf_token %}
            {{ rating.rating }}
            <input type="hidden" id="posttype" name="posttype" value="postrating" />
            <input type="submit" value="Set">
        </form>
    <hr/>

    Комментарии:
    <hr/>
    {% for q in now %}
        <table>
            <tr>
                <td><img src="/media/{{ q.author.avatar }}" class="rounded-circle" width="26" height="26"/>{{ q.author}}</td>
            </tr>
            <tr>
                <td>{{ q.text }}</td>
            </tr>
        </table>
        <hr/>
        {{ q.like }}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" id="commentid" name="commentid" value="{{ q.id }}" />
            <input type="hidden" id="posttype" name="posttype" value="commentlike" />
            <input type="submit" value="Like">
        </form>
        <hr/><hr/>
    {% endfor %}

    {{ comment.text }}
{% endblock %}