{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}

    <h6>Добавил: <img src="/media/{{ post.author.avatar }}" class="rounded-circle" width="20" height="20"/>{{ post.author.name }}</h6>
    <hr/>

    <h3>{{ post.title }}</h3>
    <h5>{{ post.text|safe }}</h5>
    <hr/>
    <h6><small class="card-subtitle">{% for category in post.category.all %}{{ category }} {% endfor %}</small></h6>
    <h6>Дата: {{ post.date }}</h6>
    <hr/><hr/><hr/>

    <div>
    <h3>Отклик:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <p>
        <h1>
            {{ reply.media }}
            {{ reply.text }}
            <input type="hidden" name="posttype" value="reply" />
        </h1>
        </p>
        <p><input type="submit" value="Оставить отклик"></p>
    </form>
    </div>
{% endblock content %}