{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Текст</td>
                <td>Автор</td>
                <td>Дата</td>
                <td>Рейтинг</td>
            </tr>
    {% for post in list %}
            <tr>
                <td><a href="post/{{ post.id }}/">{{ post.title }}</a></td>
                <td>{{ post.author.name|truncatechars:50 }}</td>
                <td>{{ post.text|truncatechars:50|safe}}</td>
                <td>{{ post.data }}</td>
                <td>{{ post.rating }}</td>
            </tr>
    {% endfor %}
        </table>
{% endblock %}