{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{% endblock title %}

{% block content %}

<form action="" method="get">
    {{ get_filter.form.as_p }}
    <input type="submit" value="Найти" />
</form>

    {% for post in user_post %}
        <p>
            <img src="/media/{{ post.author.avatar }}" class="rounded-circle" width="30" height="30"/>
            {{ post.author.name }}
            {{ post.data }}
            Категории: <small class="card-subtitle">{% for category in post.category.all %}{{ category }} {% endfor %}</small></td>
        </p>
        <p><a href="post/{{ post.id }}/">{{ post.title|truncatechars:50 }}</a></p>
        <p>{{ post.text|censor|striptags|truncatechars:128 }}</p>
        <hr><hr>
    {% endfor %}

   {% if user_post.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if user_post.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=user_post.previous_page_number %}">{{ user_post.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ user_post.number }}

   {% if user_post.has_next %}
       <a href="?{% url_replace page=user_post.next_page_number %}">{{ user_post.next_page_number }}</a>
       {% if user_post.paginator.num_pages != user_post.next_page_number %}
           ...
           <a href="?page={{ user_post.paginator.num_pages }}">{{ user_post.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
