{% extends 'flatpages/default.html' %}

{% block title %}
{% endblock title %}

{% block content %}
    <img src="/media/{{ user.avatar }}" class="rounded-circle" width="30" height="30"/>
    {{ user.name }}
    {{ user.email.email }}
    <form action="" method="post" enctype="multipart/form-data">
        Изменить Аватар
        {% csrf_token %}
        {{ user_form.avatar }}
        <input type="hidden" name="posttype" value="avatar" />
        <input type="submit" value="Загрузить" />
    </form>

    <form action="" method="post">
        {% csrf_token %}
        Изменить никнейм
        {{ user_form.name }}
        <input type="hidden" name="posttype" value="name" />
        <input type="submit" value="Изменить" />
    </form>
            <li><a href="/accounts/logout/">Выйти</a></li>
            <li><a href="/user/post/">Пост</a></li>
            <li><a href="/user/reply/">Отклики</a></li>

{% endblock content %}
