{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
        <table>
            <tr>
                <td>Автор</td>
                <td>Заголовок</td>
                <td>Теги</td>
                <td>Текст</td>
                <td>Дата</td>
                <td>Рейтинг</td>
                <td>Редактировать</td>
                <td>Удалить</td>
            </tr>
    {% for post in user_post %}
            <tr>
                <td>{{ post.author.name }}</td>
                <td><a href="http://127.0.0.1:8000/post/{{ post.id }}/">{{ post.title }}</a></td>
                <td><h6><small class="card-subtitle">{% for category in post.category.all %}{{ category }} {% endfor %}</small></h6></td>
                <td>{{ post.text|truncatechars:30|safe }}</td>
                <td>{{ post.data }}</td>
                <td>{{ post.rating }}</td>
                <td><a href="http://127.0.0.1:8000/post/update/{{ post.id }}/">Редактировать</a></td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="post" name="post" value={{ post.id }} />
                        <input type="hidden" id="posttype" name="posttype" value="delete_post" />
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
    {% endfor %}
        </table>
{% endblock %}