<!DOCTYPE HTML>
<html>

<head>
  <title>Barsik</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/asd.css' %}" />
</head>

<body>
  <div id="main">
    <header>
      <div id="logo"></div>
        <div id="logo_text"></div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="/admin/">Админка</a></li>
            <li><a href="/">Главная</a></li>
            <li><a href="/create/">Создать объявление</a></li>
            <li><a href="/user/">Пользователь</a></li>
            <li><a href="/qwe/">Test</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
    <div id="site_content">
        <div class="col-lg-12 text-center">
            {% block content %}
            {% endblock content %}
        </div>
{#      <div id="sidebar_container">#}
{#        <div class="sidebar">#}
{#          #}
{#        </div>#}
{#        <div class="sidebar">#}
{#          #}
{#        </div>#}
{#        <div class="sidebar">#}
{#          #}
{#        </div>#}
{#      </div>#}
      <div class="content">
{#          <div class="container">#}
{#              <div class="row">#}

{#              </div>#}
{#          </div>#}
      </div>
    <div id="scroll">
      <a title="Scroll to the top" class="top" href="#"><img src="{% static 'images/top.png' %}" alt="top" /></a>
    </div>
{#    <footer>#}
{#    </footer>#}
  </div>
</body>
</html>
